main{
    width: 1208px;
}

.detailContent {
    padding: 20px 20px;
    
}

.detailContent .fotoProduct {
    width: 240px;
    display: flex;
    justify-content: center;
}

.detailContent .topFoto{
    display: flex;
    justify-content: center;
}

.detailContent .bottomFoto{
    display: flex;
    justify-content: space-around;
}

.detailContent .informationProduct {
    width: 360px;
}

.detailContent .topInformation .productName h1{
    font-size: rem;
    font-weight: bold;
}

.cartTemp {
    width: 268px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--NN0, #ffffff);
    border-radius: 12px;
    padding: 20px;
}

.cartTemp .cartTempTop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 5px 0px;
    border-bottom: 1px solid var(--NNO, #f0f3f7);;
}

.cartTemp .cartTempBottom {
    display: inline-block;
}

.cartTemp .cartTempBottom h5{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 5px 0px;
}

.cartTemp .cartTempBottom .totalProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.cartTemp .cartTempBottom .totalProduct .totalColumn{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.cartTemp .cartTempBottom .catatanTambahan button{
    display: flex;
    gap: 10px;
}

.cartTemp .cartTempBottom .padding1 {
    display: inline-block;
    margin: 5px 0px;
}


