@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: black;
}

.primaryColor{
  color: #2dbb2d;
}

.bgPrimaryColor{
  background-color: #24ad24;
}

.borderColor{
  color: #f0f3f7;
}
.bgBorderColor {
  background-color: #f0f3f7;
}

.fontColorGrey {
  color: #929292;
}

.top20{
  top: 20%;
}

.z999 {
  z-index: 999;
}