@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.primaryColor{
  color: #2dbb2d;
}

.borderColor{
  color: #f0f3f7;
}
.bgBorderColor {
  background-color: #f0f3f7;
}

.fontColorGrey {
  color: #929292;
}

.z999 {
  z-index: 999;
}